
*{
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:var(--bg) ;
}

:root{
    --green:#00FF00;
    --white: #ffffff;
    --black:#000000;

}

.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
    
}